# Project Opioids in TN:

## Get the tables from pgAdmin:

In [1]:
from sqlalchemy import create_engine

In [2]:
import pandas as pd

In [3]:
connection_string = "postgres://postgres:postgres@localhost:5432/prescribers"

In [4]:
engine = create_engine(connection_string)

## Question 2: Who are the top opioid prescribers for the state of Tennessee?

In [5]:
query1 = '''
WITH docs as (SELECT npi, CONCAT(nppes_provider_first_name, ' ', nppes_provider_mi, ' ', nppes_provider_last_org_name) as name, nppes_provider_city, nppes_provider_zip5, specialty_description 
 FROM prescriber
 WHERE nppes_provider_state = 'TN'),
 
drug_opioids as (SELECT drug_name, generic_name
FROM drug
WHERE opioid_drug_flag = 'Y'),

zipcode_TN AS (
SELECT zip, tot_ratio, fipscounty,
RANK() OVER(PARTITION BY zip ORDER BY tot_ratio DESC) AS rank_zip
FROM zip_fips
)

SELECT npi, name, nppes_provider_city, specialty_description, SUM(total_claim_count), generic_name, population, county, fipscounty
FROM docs as d
INNER JOIN prescription 
USING (npi)
INNER JOIN drug_opioids
USING (drug_name)
INNER JOIN zipcode_TN as z
ON d.nppes_provider_zip5 = z.zip
INNER JOIN population --new add
USING (fipscounty) -- new add
INNER JOIN fips_county
USING (fipscounty)
WHERE rank_zip = 1
GROUP BY npi, name, nppes_provider_city, specialty_description, generic_name, population, county, fipscounty;
'''

result1 = engine.execute(query1)

In [6]:
top_opioid_prescribers = pd.read_sql(query1, con = engine)
top_opioid_prescribers.head()

,npi,name,nppes_provider_city,specialty_description,sum,generic_name,population,county,fipscounty
0,1.003013e+09,WILLIAM P GRABENSTEIN,CLARKSVILLE,Family Practice,121.0,HYDROCODONE/ACETAMINOPHEN,192120.0,MONTGOMERY,47125
1,1.003013e+09,WILLIAM P GRABENSTEIN,CLARKSVILLE,Family Practice,14.0,HYDROMORPHONE HCL,192120.0,MONTGOMERY,47125
2,1.003013e+09,WILLIAM P GRABENSTEIN,CLARKSVILLE,Family Practice,15.0,METHADONE HCL,192120.0,MONTGOMERY,47125
3,1.003013e+09,WILLIAM P GRABENSTEIN,CLARKSVILLE,Family Practice,15.0,MORPHINE SULFATE,192120.0,MONTGOMERY,47125
4,1.003013e+09,WILLIAM P GRABENSTEIN,CLARKSVILLE,Family Practice,23.0,OXYCODONE HCL,192120.0,MONTGOMERY,47125

In [7]:
top_opioid_prescribers.tail()

,npi,name,nppes_provider_city,specialty_description,sum,generic_name,population,county,fipscounty
29914,1.992994e+09,KANISHKA CHAKRABORTY,JOHNSON CITY,Internal Medicine,74.0,OXYCODONE HCL,126437.0,WASHINGTON,47179
29915,1.992996e+09,WESLEY H GILES,CHATTANOOGA,Emergency Medicine,25.0,HYDROCODONE/ACETAMINOPHEN,354589.0,HAMILTON,47065
29916,1.992996e+09,WESLEY H GILES,CHATTANOOGA,Emergency Medicine,44.0,OXYCODONE HCL/ACETAMINOPHEN,354589.0,HAMILTON,47065
29917,1.993000e+09,SHELIA K THOMAS,MEMPHIS,Registered Nurse,42.0,HYDROCODONE/ACETAMINOPHEN,937847.0,SHELBY,47157
29918,1.993000e+09,SHELIA K THOMAS,MEMPHIS,Registered Nurse,12.0,OXYCODONE HCL/ACETAMINOPHEN,937847.0,SHELBY,47157

In [8]:
### save as csv file
top_opioid_prescribers.to_csv('../data/top_opioid_prescribers.csv', index = False)

## Question 5: Is there any association between a particular type of opioid and number of overdose deaths?

In [9]:
query2 = '''
WITH drug_opioids as (SELECT generic_name, total_claim_count, nppes_provider_zip5
FROM drug
INNER JOIN prescription 
USING (drug_name)
INNER JOIN prescriber 
USING (npi)
WHERE opioid_drug_flag = 'Y'),

zipcode_TN AS (
SELECT zip, tot_ratio, fipscounty,
RANK() OVER(PARTITION BY zip ORDER BY tot_ratio DESC) AS rank_zip
FROM zip_fips
)

SELECT generic_name, SUM(total_claim_count), population, overdose_deaths, county, p3.fipscounty 
FROM drug_opioids
INNER JOIN zipcode_TN
ON nppes_provider_zip5 = zip
INNER JOIN fips_county
USING (fipscounty)
INNER JOIN population as p3
ON zipcode_TN.fipscounty = p3.fipscounty
INNER JOIN overdose_deaths as o
ON p3.fipscounty = o.fipscounty
WHERE rank_zip = 1 AND year = 2017
GROUP BY generic_name, population, overdose_deaths, county, p3.fipscounty;
'''

result2 = engine.execute(query2)

In [10]:
opioid_and_death = pd.read_sql(query2, con = engine)
opioid_and_death.head()

,generic_name,sum,population,overdose_deaths,county,fipscounty
0,ACETAMINOPHEN WITH CODEINE,89.0,5071.0,1.0,PICKETT,47137
1,ACETAMINOPHEN WITH CODEINE,50.0,5675.0,0.0,VAN BUREN,47175
2,ACETAMINOPHEN WITH CODEINE,188.0,6605.0,3.0,HANCOCK,47067
3,ACETAMINOPHEN WITH CODEINE,58.0,7684.0,2.0,CLAY,47027
4,ACETAMINOPHEN WITH CODEINE,145.0,7882.0,1.0,PERRY,47135

In [11]:
### I should get 1156 rows
opioid_and_death.shape

(1156, 6)

In [12]:
### save as csv file
opioid_and_death.to_csv('../data/opioid_and_death.csv', index = False)