# Project Opioids in TN:

## Get the tables from pgAdmin:

In [1]:
from sqlalchemy import create_engine

In [9]:
import pandas as pd

In [2]:
connection_string = "postgres://postgres:postgres@localhost:5432/prescribers"

In [3]:
engine = create_engine(connection_string)

In [7]:
query1 = '''
WITH docs as (SELECT npi, CONCAT(nppes_provider_last_org_name, ' ', nppes_provider_first_name) as name, nppes_provider_city, nppes_provider_zip5, specialty_description 
FROM prescriber
WHERE nppes_provider_state = 'TN'),

drug_opioids as (SELECT drug_name, generic_name
FROM drug
WHERE opioid_drug_flag = 'Y'),

zipcode_TN AS (
SELECT zip, tot_ratio, fipscounty,
RANK() OVER(PARTITION BY zip ORDER BY tot_ratio DESC) AS rank_zip
FROM zip_fips
)

SELECT npi, name, nppes_provider_city, nppes_provider_zip5, specialty_description, total_claim_count, generic_name, fipscounty, county 
FROM docs as d
INNER JOIN prescription 
USING (npi)
INNER JOIN drug_opioids
USING (drug_name)
INNER JOIN zipcode_TN as z
ON d.nppes_provider_zip5 = z.zip
INNER JOIN fips_county
USING (fipscounty)
WHERE rank_zip = 1;
'''

result1 = engine.execute(query1)

In [8]:
result1.fetchone()

(Decimal('1659797769'), 'HILL PIPER', 'CLEVELAND', '37311', 'Nurse Practitioner', Decimal('525'), 'OXYCODONE HCL/ACETAMINOPHEN', '47011', 'BRADLEY')

In [10]:
top_opioid_prescribers = pd.read_sql(query1, con = engine)
top_opioid_prescribers.head()

,npi,name,nppes_provider_city,nppes_provider_zip5,specialty_description,total_claim_count,generic_name,fipscounty,county
0,1.932637e+09,DUNBAR DWAYNE,MEMPHIS,38103,Student in an Organized Health Care Education/...,11.0,OXYCODONE HCL,47157,SHELBY
1,1.922096e+09,SMITH JEFFREY,LINDEN,37096,Family Practice,135.0,TRAMADOL HCL,47135,PERRY
2,1.437142e+09,BURNS TINA,GERMANTOWN,38138,Family Practice,39.0,TRAMADOL HCL,47157,SHELBY
3,1.245232e+09,VOLNER MARY,MEMPHIS,38128,Nurse Practitioner,78.0,HYDROCODONE/ACETAMINOPHEN,47157,SHELBY
4,1.174568e+09,BAKER KELLY,KNOXVILLE,37916,Family Practice,27.0,HYDROCODONE/ACETAMINOPHEN,47093,KNOX